.wrapper {
    background-color: var(--desaturated-dark-cyan);
    height: 100px;
    background-image: url('/images/bg-header-mobile.svg');
    background-position: center;
}

@media screen and (min-width: 768px) {
    .wrapper {
        height: 150px;
        background-image: url('/images/bg-header-desktop.svg');
        background-position: center;
        background-size: cover;
    }
}